<%-include("partials/header")%>
    <h1>Welcome to Socratic</h1>
    <p>Use this platform to anonymously ask and answer questions relating to your classes.</p>
    <p>Please do not use this platform to cheat. Doing so will result in the removal of your account.</p>
    <p>To get started, <a href="/register">create an account</a> and ask your first question!</p>
    <div>
        <a href="/questions">View Questions</a>
    </div>
    <a href="/questions/ask">Ask a Question</a>    

<%-include("partials/footer")%>
