<%-include("partials/header")%>
<div class="container">
    <h1>Welcome to the Stack</h1>
    <div>
        <a href="/questions">View Questions</a>
    </div>
    <a href="/questions/ask">Ask a Question</a>    
</div>

<%-include("partials/footer")%>
