<%-include("partials/header")%>
    <h1>Welcome</h1>
    <div>
        <a href="/questions">View Questions</a>
    </div>
    <a href="/questions/ask">Ask a Question</a>    

<%-include("partials/footer")%>
