<%-include("partials/header")%>
    <h1>Welcome to Socratic</h1>
    <p>Use this platform to anonymously ask and answer questions, have discussions, stuff like that.</p>
    <p>Please do not use this platform to cheat.</p>
    <p>To get started, <a href="/register">create an account</a> post a question.</p>
    <div>
        <a href="/questions">View Questions</a>
    </div>
    <a href="/questions/ask">Ask a Question</a>    

<%-include("partials/footer")%>
