<%-include("partials/header2")%>


<h1>Sign Up</h1>

<form action="/register" method="POST">
    <label for="Username">Username: </label>
    <input type="text" name="username" id="Username">
    <label for="Password">Password: </label>
    <input type="text" name="password" id="Password">
    <button>Sign Up</button>
</form>

<%-include("partials/footer2")%>
